<hr>
<p>Имя: <%= @note[:name] %></p>
<p>Фамилия: <%= @note[:surname] %></p>
<p>Отчество: <%= @note[:patronymic_name] %></p>
<p>Номер мобильного телефона: <%= @note[:cell_phone_num] %></p>
<p>Номер домашнего телефона: <%= @note[:home_phone_num] %></p>
<p>Адрес: <%= @note[:address] %></p>
<p>Дата рождения: <%= @note[:birthday_date] %></p>
<p>Пол: <%= @note[:gender] %></p>
<p>Статус: <%= @note[:status] %></p>
</p>