<tr>
  <td> <h4><%= @note[:name] %></h4></td>
  <td> <h4><%= @note[:surname] %></h4></td>
  <td><h4> <%= @status[:name] %></h4></td>
  <td><h4> <a href="/notes/<%= @note[:id] %>">Подробнее</a></h4></td>
  <td><h4> <a href="/notes/<%= @note[:id] %>/edit">Изменить</a></h4></td>
</tr>