<form method="get">
  <div class="note-background">
    <p>
      <label>Мероприятие:</label>
      <input name="event" placeholder="Введите название">
    </p>
    <p>
      <label>Статус:</label>
      <select name="select" class="custom-select custom-select-sm" style="width:auto" id="select">
        <%@statuses.each do |status|%>
          <option><%=status[:name] %></option>
        <%end %>
      </select>
    </p>
    <p>
      <label>Адрес проведения:</label>
      <input name="address" placeholder="Введите адрес">
    </p>
    <p>
      <label>Дата и время проведения:</label>
      <input name="event_date" type="datetime-local" id="start">
    </p>
    <p>
      <label>Название файла со списком гостей:</label>
      <input name="file_name" placeholder="Введите название">
    </p>
    <p>
      <input type="submit" class="btn btn-outline-dark" value="Создать">
    </p>
    <%if @file_name != '' %>
      <p>
      <a class="btn btn-outline-dark" href="/files/<%= @file_name %>.txt" target="_blank" download>Скачать список гостей</a>
      </p>
    <%end %>
    <%@invited_people.each do |person| %>
      <p>
        <%=person[:name] %>
        <a class="btn btn-outline-dark" href="/files/<%= person[:id] %><%= person[:surname] %><%= @event %>.txt" target="_blank" download>Скачать</a>
      </p>
    <% end %>
  </div>
</form>